<%- include('includes/header') %>
<body>
    <div>Products </div>
    <div><%=member.member%></div>

    <% products.map((value,key) => { %>
    <p><%= value.productName %> - <%= value.productSize %></p>
    <% } ) %>
</body>
<%- include('includes/footer') %>